Welcome {{ content.firstName }}!<br />

Our records show that you have just registerd for an account with Asseter.<br />
<br />
Congratulations!<br />
<br />
Here is your verification code: <a href="{{ content.host }}/register/verification-code/{{ content.verificationCode }}">{{ content.verificationCode }}</a><br />
<br />
Instructions:<br />
Click to be activated or try to login and you will be re-directed to verification page where you'll copy and paste the above Verification Code to be activated.<br />
<br />
If you have any questions, do not hesitate to contact our nerds @ <a href="mailto:{{ content.myEmail }}">Asseter</a>.<br />
<br />
Regards,<br />
<br />
Asseter